.conatiner{
    display: flex;
}

.conatiner img{
    width: 200px;
    height: 200px;
    margin-right: 50px;
}

.conatiner .content {
    line-height: 40px;
}

.content{
    float: right;
    width: 50%;
}

.edit-content {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
