<div class="Products" *ngIf="allProducts && allProducts.length > 0">
  <mat-card class="example-card" *ngFor="let product of allProducts">
    <img
      mat-card-image
      src="{{ product.imageUrl }}"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <h4>{{ product.name }}</h4>
      <p>
        {{ product.price | currency : "INR" }}&nbsp;&nbsp;&nbsp;{{
          product.category
        }}
      </p>
      <p>{{ product.color }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a
        routerLink="/details/{{ product.id }}"
        mat-raised-button
        mat-button
        color="primary"
        >View Details</a
      >
      <a mat-raised-button mat-button color="accent">Add To Cart</a>
    </mat-card-actions>
  </mat-card>
</div>
